$brand-primary: #0f6db7;
$brand-success: #2aa43c;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 14px;

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "bootstrap";
// injector
// endinjector
