<a ui-sref="envelopes">Back to Envelopes</a>
<header>
  <h1 ng-click="envelopeCtrl.envelope.editing = true" ng-if="!envelopeCtrl.envelope.editing">{{::envelopeCtrl.envelope.name}}</h1>
  <input ng-if="envelopeCtrl.envelope.editing" type="text" ng-model="envelopeCtrl.envelope.name">
  <button class="add-item-button" type="button" ng-click="envelopeCtrl.updateEnvelope()" ng-if="envelopeCtrl.envelope.editing">Save</button>
  <button class="cancel-button" type="button" ng-click="envelopeCtrl.envelope.editing = false" ng-if="envelopeCtrl.envelope.editing"><span class="glyphicon glyphicon-remove"></span></button>
</header>
<main>
  <table class="table clickable-table">
    <thead>
    	<th>Description</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr ng-repeat="transaction in envelopeCtrl.envelope.transactions">
        <td ng-if="!transaction.editing" ng-click="transaction.editing = true">
          {{::transaction.description}}
        </td>
        <td ng-if="!transaction.editing" ng-click="transaction.editing = true">
          {{::transaction.amount || 0 | currency}}
        </td>
        <td ng-if="transaction.editing">
          <input type="text" ng-model="transaction.description">
        </td>
        <td ng-if="transaction.editing">
          <input type="text" ng-model="transaction.amount">
          <button class="add-item-button" type="button" ng-click="envelopeCtrl.updateTransaction(transaction)">Save</button>
          <button class="cancel-button" type="button" ng-click="transaction.editing = false"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
      <tr ng-click="envelopeCtrl.addTransaction()" ng-if="!envelopeCtrl.addingTransaction">
        <td colspan="2">
          Add a Transaction
        </td>
      </tr>
      <tr ng-if="envelopeCtrl.addingTransaction">
        <td>
          <input type="text" ng-model="envelopeCtrl.newTransaction.description">
        </td>
        <td>
          <input type="text" ng-model="envelopeCtrl.newTransaction.amount">
        </td>
      </tr>
      <tr>
      	<td colspan="2">
      		<button class="add-item-button" type="button" ng-click="envelopeCtrl.saveTransaction()" ng-if="envelopeCtrl.addingTransaction">Save</button>
          <button class="cancel-button" type="button" ng-click="envelopeCtrl.addingTransaction = false" ng-if="envelopeCtrl.addingTransaction"><span class="glyphicon glyphicon-remove"></span></button>
      	</td>
      </tr>
    </tbody>
  </table>
</main>
